<html ng-app="store">
<head>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="angular.js"></script>
<script type="text/javascript" src="products.js"></script>
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="style.css">
</head>

<!--LEVEL 1 DEMO <body ng-controller="StoreController as store" >
	<div ng-repeat="product in store.products">
		<div ng-hide="product.soldOut">
		<h1>{{product.name}}</h1>
		<h2>{{product.price}}</h2>
		<p> {{product.description}}</p>
		<button ng-show="store.product.canPurchase">add to cart</button>
		</div>
	</div>
</body> -->
<body ng-controller="StoreController as store">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="product in store.products | orderBy:'-price' | limitTo:5">
			<product-title></product-title>
			<h3 product-title></h3>
			<img ng-src="{{product.images[0].thumb}}">
			<p ng-show="!product.images.length">Sorry No image </p>
			
			<product-panels>
			</product-panels>
		</li>
	</ul>
</body>
</html>
